body {
    font-family: "roboto", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: rgb(42, 42, 42);
}

.button {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 20%;
    margin: 20px auto;
    padding: 15px;
    border: none;
    background-color: #ffc400;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 5px 5px 10px 0px #000000;
}

.button:hover {
    background-color: #a07b00;
    transform: scale(1.1);
}

h1 {
    margin: 0;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 15px;
    margin: 0;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1vw;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
}

.navigationBar {
    color: #ffd54a;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px #000000;
    max-width: 95%;
}

.navigationBarSelected {
    color: #ffd54a;
    font-weight: bold;
    box-shadow: 0px 0px 15px 2px #000000;
}
.form-container {
    width: 300px;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 1vw;
    border-radius: 20px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    outline: none;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #ffe100;
}

@media (max-width: 768px) {
    body {
       padding-left: 15px;
       padding-right: 15px;
    }
 }